.about {
  border: 1px solid transparent;
  border-radius: 0 0 10% 0;
  background: url('../../../public/images/heroImg1.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  width: 625px; 
  height: 750px; 
  overflow: hidden;
}

@media (max-width: 768px) {
  .about {
    width: 100%; 
    height: auto; 
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 640px) {
  .about {
    width: 100%;
    height: 400px;
  }
}

.text{
    margin-bottom: 15px;
    margin-inline: 10px ;
}
@media (min-width:430px) {
    .textc{
       text-align: center;
    }    
}
.textc {
    transition: margin 0.3s ease; 
  }
  
  @media (max-width: 1010px) {
    .textc {
      margin-left: 0; 
    }
  }
  